<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
   <header>グループを作成しました</header>
   <div class="contents">
    <div class="contents__left">
      <div class="contents__left-upper"></div>
      <div class="contents__left-lower"></div>
    </div>
    <div class="contents__right">
      <div class="contents__right-main"></div>
      <div class="contents__right-footer"></div>
    </div>
   </div>
  </body>
</html>